.vu-wl-content {
    margin-bottom: 20px;
     
    .vu-table {
        width: 80%;
        margin: 0 auto;
    }

    .vu-table-row {
        border-bottom: 1px solid #333;
        
        &:last-child {
            border: none;
        }
    }

    .vu-table-col {
        vertical-align: middle;
        text-align: center;
        padding: 10px;
    }

    .vu-table-col-remove {
        width: 5%;
    }

    .vu-table-col-img {
        width: 15%;
    }

    .vu-table-col-detail {
        width:  45%;
        text-align: left;
    }

    .vu-table-col-price {
        width: 15%;
    }

    .vu-table-col-cart {
        width: 20%;
    }

    .vu-wl-item-picture,
    .vu-wl-item-img {
        width: 100%;
        display: block;
    }

    .vu-wl-cta-delete {
        background-color: transparent;
        background-image: url($icn-delete);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left top;
        height: 32px;
        width: 32px;
        border: none;
    }

    .vu-wl-item-heading {
        font-size: 14px;
        font-weight: 700;
    }

    .vu-deal-detail-text {
        font-size: 12px;
        line-height: 1.25;
        margin: 7px 0;
    }

    // .vu-wl-item-list {
    //     @include clearfix;
    // }

    // .vu-wl-item {
    //     margin-bottom: 20px;
    //     display: flex;
    // }

    // .vu-wl-item-picture {
    //     width: 20%;
    //     padding: 10px;
    //     border: 1px solid #333;
    //     margin-right: 20px;
    // }

    // .vu-wl-item-img {
    //     width: 100%;
    // }

    // .vu-wl-btn-wrapper {
    //     width: 30%;
    // }

    // .vu-wl-item-detail {
    //     width: 50%;
    // }

    // .vu-wl-item-heading {
    //     font-size: 18px;
    //     line-height: 1.25;
    //     margin-bottom: 10px;
    // }

    // .vu-wl-item-price {
    //     font-size: 18px;
    //     font-weight: 700;
    // }

    // .vu-wl-cta-moveToCart {
    //     flex: none;
    //     border: none;
    //     font-size: 18px;
    //     text-align: right;
    //     background-color: red;
    //     color: #fff;
    //     padding: 10px 20px;
    //     text-decoration: none;
    //     margin-bottom: 10px;
    // }



}